html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  text-rendering: optimizeLegibility;
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  background-image: linear-gradient(-90deg, #c9e9fc, #ffffff);
}



h1 {
  font-size: 4.0em;
  color: white;
}

table {
  border-collapse: collapse;

}
tr {
  border: solid #d5dde4;
  border-width: 1px 0;
  height:46px
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

.btn{
  margin: 10px;
  font-weight: bold; 
}
