
<div>
<h2>Register a book</h2>
<h6>Simply enter the 10-digit or 13-digit ISBN.</h6>
</div>

<div *ngIf="validMessage != ''">
  <h3 class="has-info">{{validMessage}}</h3>
</div>

<form class="form-inline"[formGroup]="isbnform" (ngSubmit)="submitIsbn()" novalidate>

    <div class="form-group">
      <input type="text" class="form-control" formControlName="num" required autofocus/>
    </div>
    <button type="submit" class= "btn btn-primary" >Submit</button>
  </form>

<table mdbTable mdbTableScroll scrollY="true" maxHeight="100" bordered="true" >
  <thead>
  <tr>
    <th>ISBN</th>
  </tr>
</thead>
 <div style= "height: 25vh; overflow-y: scroll;" >
  <tbody >
    <tr *ngFor="let i of isbn" >
      <td >
        {{i.num}}
      </td>
    </tr>
  </tbody>
</div>
</table>
